<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ path("homepage") }}">6 Board</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="{{ path("story_new") }}">New Story</a></li>
          <li><a href="{{ path("story_priority_index") }}">Priorities</a></li>
          <li><a href="{{ path("sonata_admin_dashboard") }}" target="_blank">Admin</a></li>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
