<input type="submit" value="Search" class="btn btn-info pull-right" />
{{ form_widget(form) }}
<input type="submit" value="Search" class="btn btn-info" />
<a href="{{ path('reset_filters') }}" class="btn btn-danger" >Reset</a>
